<% if !@event.nil? then %>
	<div id="event_detail">
		<%= @event.system.display_name %>: 
		<span id='timestamp' name='Eastern: <%= @event.generated.in_time_zone("Eastern Time (US & Canada)") %>'><%= @event.generated %> :</span> 
		<% @event.positions.order(:position).each do |position| %>
			<%= link_to position.word.text, "/events/search?search_terms=#{(@previous_search.nil? ? "#{position.word.text}" : "#{@previous_search.gsub(" ", "+") + "+#{position.word.text}"}")}", id: "searchload", remote: true %> 
		<% end %>
	</div>
<% end %>