<h1>DAD Event Dashboard</h1>
<div id="turbokiller" data-no-turbolink>
<%= render partial: "search" %>
<div id="turbokiller" data-no-turbolink>
<div id="stats"></div>
<div id="events">
</div>
<div id="spinner"></div>
</div>
<div id="big_picture"><div id="systems_chart"></div><div id="services_chart"></div></div>
<div id="clear"></div>
<div id="event_rates">
	<div id="30_days_chart"></div>
	<div id="7_days_chart"></div>
	<div id="1_day_chart"></div>
	<div id="1_hour_chart"></div>
	<div id="diskutilization"></div>
</div>
<div id="spinner"></div>
</div>