<div id="turbokiller" data-no-turbolink>
<%= render partial: "search" %>
<div id="stats">Elapsed time: <%= @search_time %> - <%= @events.count %> events match that search:</div>
<div id="events">
<%= render partial: 'search_results' %></div>
<div id="spinner"></div>
</div>