<h1>Listing systems</h1>
<div id="turbokiller" data-no-turbolink>
<table>
	<thead>
		<tr>
			<th>System</th>
			<th>Events in Last 24 Hours</th>
		</tr>
	</thead>
	<% reporting = Hash.new %>
	<% @reportingInLast24.each do |system| %>
	  <% reporting[system[0].to_i]=system[1] %>
	<% end %>
<table>
  <thead>
    <tr>
      <th>System</th>
	  <th>Monitor</th>
      <th>Events over last 24 hours</th>
    </tr>
  </thead>

  <tbody>
    <% @systems.each do |system| %>
      <tr>
        <td><%= link_to system.display_name, system %></td>
		<td><%= system.monitor %></td>
		<td><%= !reporting[system.id].nil? ? reporting[system.id] : "" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>