<h1>Listing systems</h1>
<div id="turbokiller" data-no-turbolink>
System
Events in Last 24 Hours
	<% reporting = Hash.new %>
	<% @reportingInLast24.each do |system| %>
	  <% reporting[system["system_id"].to_i]=system["count"] %>
	<% end %>
Name
Monitor
Events over last 24 hours

    <% @systems.each do |system| %>
	<div id="System">
<%= link_to system.display_name, system %>
<%= system.monitor %>
<%= !reporting[system.id].nil? ? reporting[system.id] : "" %>
<div id="<%=system.name%>_gauge"></div>
    <% end %>
<div id="system-gauges"><!-- Draw gauges --></div>
<br>
</div>