/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#spinner {
	width:25%;
	height:25%;
    position: relative;
	top:2%;
	left:5%;
	display: none;
	opacity: 0.5;
	background:url("/assets/spinner.gif");
	background-repeat: no-repeat scroll;
	background-position: center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    z-index:1234;
}

#services_chart {
	width:45%;
	float: left;
}

#clear {
	clear: both;
}
#systems_chart {
	width:45%;
	float: left;
}

#event_rates div {
	width: 20%;
	float: left;
}
#navbar	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}
#navbar	li {
		float: left;
		background-color:#000000;
	}
#navbar	a { 
		display: block;
		font-weight: bold;
		color: #ffffff;
		text-decoration: none;
		text-transform: uppercase;
		padding: 1px;
		width: 120px;
	}

li#active {
	background-color: #555555;
}
#navbar a:hover {
	background-color: #888855;
}
