/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body{
	height: 100%;
}

.timestamp {
	display: inline;
    position: relative;
	white-space: pre-wrap;
}

.timestamp:hover {
	background: #aaa;
}
.timestamp:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(time);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 520px;
}
.timestamp:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}
#spinner {
	width:100%;
	height:100%;
    position: absolute;
	top:0;
	left:0;
	display: none;
	opacity: 0.5;
	background: url("/assets/spinner.gif") no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
    z-index:1234;
}

#big_picture {
	width:49%;
	float:left;
}

#services_chart {
	width:20%;
	float: left;
}

#clear {
	clear: both;
}
#systems_chart {
	width:20%;
	float: left;
}

#event_rates div {
	width: 10%;
	float: left;
}

#graphs {
	width: 49%;
	float: left;
}

#logging_rate {
	width: 40;
	display:inline;
	float: left;
}

#insert_rate {
	width: 40%;
	display:inline;
	float: left;
}

#navbar	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}
#navbar	li {
		float: left;
		background-color:#000000;
	}
#navbar	a { 
		display: block;
		font-weight: bold;
		color: #ffffff;
		text-decoration: none;
		text-transform: uppercase;
		padding: 1px;
		width: 120px;
	}

li#active {
	background-color: #555555;
}
#navbar a:hover {
	background-color: #888855;
}
