/**** Scrolling area ****/
#Scrollable{
	height:300px;
	width:500px;
	overflow:auto;
	border: 1px solid #000000; 
}		

#ScrollableEventDesc{
	height:400px;
	width:200px;
	overflow:auto;
	border: 1px solid #000000;
	
}

#ScrollableStats{
	height:200px;
	width:425px;
	overflow:auto;
	border: 1px solid #000000; 
	padding: 10px;
}		

/**** Two Column Forms Without Tables ****/
div.row {
  clear:both;
  }

div.row span.label {
  float: left;
  width: 100px;
  text-align: right;
  }

div.row span.formw {
  float: right;
  width: 235px;
  text-align: left;
  }

div.row span.left {
  float: left;
  text-align: left;
  font-weight: bold;
  color: #fff;
  width: 49%;
  }

div.row span.right {
  float: right;
  text-align: right;
  font-weight: bold;
  color: #fff;
  width: 49%;
  }



div.row {
  clear: both;
  padding-top: 10px;
  }

div.row span.label {
  float: left;
  width: 100px;
  text-align: right;
  }

div.row span.formw {
  float: right;
  width: 335px;
  text-align: left;
  } 
  
BODY
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 80%;
    BACKGROUND-IMAGE: url(../images/bgbody.gif);
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    COLOR: black;
    PADDING-TOP: 0px;
    BACKGROUND-REPEAT: repeat-y;
    FONT-FAMILY: "lucida grande", verdana, arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff
}
BODY.cols-1
{
    BACKGROUND-IMAGE: none
}
TD
{
    border-width: 1px;
    FONT-FAMILY: "lucida grande", verdana, arial, helvetica, sans-serif
}
TH
{
    border-width: 1px;
    FONT-FAMILY: "lucida grande", verdana, arial, helvetica, sans-serif
}
P
{
    FONT-FAMILY: "lucida grande", verdana, arial, helvetica, sans-serif
}
H4
{
    FONT-FAMILY: "lucida grande", verdana, arial, helvetica, sans-serif
}
H5
{
    FONT-FAMILY: "lucida grande", verdana, arial, helvetica, sans-serif
}
H6
{
    FONT-FAMILY: "lucida grande", verdana, arial, helvetica, sans-serif
}
UL
{
    FONT-FAMILY: "lucida grande", verdana, arial, helvetica, sans-serif
}
OL
{
    FONT-FAMILY: "lucida grande", verdana, arial, helvetica, sans-serif
}
LI
{
    FONT-FAMILY: "lucida grande", verdana, arial, helvetica, sans-serif
}
LABEL
{
    FONT-FAMILY: "lucida grande", verdana, arial, helvetica, sans-serif
}
LEGEND
{
    FONT-FAMILY: "lucida grande", verdana, arial, helvetica, sans-serif
}
H1
{
    FONT-FAMILY: helvetica, arial, verdana, sans-serif
}
H2
{
    FONT-FAMILY: helvetica, arial, verdana, sans-serif
}
H3
{
    FONT-FAMILY: helvetica, arial, verdana, sans-serif
}
DIV.divider
{
    MARGIN: 0.5em 0px;
    BORDER-BOTTOM: #323720 1px solid;
    HEIGHT: 1px
}
LI
{
    LIST-STYLE-IMAGE: url(../images/listitem.gif);
    LIST-STYLE-TYPE: square
}
LI.selecteditem
{
    LIST-STYLE-IMAGE: url(../images/selecteditem.gif)
}
#header
{
    BACKGROUND-POSITION: left bottom;
    FLOAT: left;
    BACKGROUND-IMAGE: url(../images/topgradient.jpg);
    WIDTH: 100%;
    BACKGROUND-REPEAT: repeat-x;
    BACKGROUND-COLOR: #c3d290
}
#header IMG
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    DISPLAY: block;
    BORDER-LEFT: 0px;
    BORDER-BOTTOM: 0px
}
#sitename
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 7px;
    FONT-SIZE: 26px;
    FLOAT: left;
    PADDING-BOTTOM: 10px;
    MARGIN: 0px;
    WIDTH: 60%;
    COLOR: #ffffff;
    LINE-HEIGHT: 1em;
    PADDING-TOP: 5px;
    FONT-FAMILY: arial, helvetica, sans-serif
}
#sitename .sitename-sm
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 20px
}
#sitelinks
{
    MARGIN-TOP: 10px;
    DISPLAY: block;
    FONT-SIZE: 85%;
    FLOAT: right;
    MARGIN-RIGHT: 10px
}
#sitelinks LI
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 12px;
    FLOAT: left;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
    LIST-STYLE-TYPE: none
}
#sitemenu
{
    CLEAR: both;
    PADDING-LEFT: 200px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 85%;
    LINE-HEIGHT: normal
}
#sitemenu UL
{
DISPLAY: block;
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
FLOAT: left;
    PADDING-TOP: 0px
}
#sitemenu LI
{
DISPLAY: block;
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 7px;
    BACKGROUND: url(../images/inactiveleft.gif) no-repeat left top;
    FLOAT: left;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #333333 1px solid;
    LIST-STYLE-TYPE: none
}
#sitemenu A
{
    PADDING-RIGHT: 7px;
    DISPLAY: block;
    PADDING-LEFT: 0px;
    BACKGROUND: url(../images/inactiveright.gif) no-repeat right top;
    FLOAT: left;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 7px;
    WHITE-SPACE: nowrap
}
#sitemenu A
{
    FLOAT: none
}
UNKNOWN
{
    WIDTH: auto
}
#sitemenu A:link
{
    COLOR: #5b604b;
    TEXT-DECORATION: none
}
#sitemenu A:visited
{
    COLOR: #5b604b;
    TEXT-DECORATION: none
}
#sitemenu A:hover
{
    COLOR: #682665;
    TEXT-DECORATION: none
}
#sitemenu A:active
{
    COLOR: #682665;
    TEXT-DECORATION: none
}
#sitemenu LI.selectedtab
{
    BACKGROUND: url(../images/activeleft.gif) no-repeat left top;
    BORDER-BOTTOM-WIDTH: 0px
}
#sitemenu LI.selectedtab A
{
    BACKGROUND: url(../images/activeright.gif) no-repeat right top;
    PADDING-BOTTOM: 4px
}
#sitemenu LI.selectedtab A:link
{
    COLOR: #000000
}
#sitemenu LI.selectedtab A:visited
{
    COLOR: #000000
}
#sitemenu LI.selectedtab A:hover
{
    COLOR: #000000
}
#sitemenu LI.selectedtab A:active
{
    COLOR: #000000
}
#sectionname
{
    CLEAR: both;
    MARGIN: 0px;
    WIDTH: 410px;
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: center
}
#sectionname
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 20px;
    COLOR: #000000;
    PADDING-TOP: 20px
}
#sectionname H1
{
    FONT-SIZE: 170%;
    MARGIN: 0px;
    COLOR: #51104e
}
.cols-1 #sectionname
{
    MARGIN-LEFT: 120px;
    WIDTH: auto;
    TEXT-ALIGN: left
}
#sectionmenu
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 6px;
    FLOAT: left;
    PADDING-BOTTOM: 20px;
    MARGIN: 0px;
    WIDTH: 200px;
    PADDING-TOP: 0px
}
.cols-1 #sectionmenu
{
    DISPLAY: none
}
#sectionmenu P.h1
{
    FONT-WEIGHT: bold;
    MARGIN: 0px
}
#sectionmenu UL
{
    MARGIN-TOP: 0px;
    PADDING-LEFT: 0px;
    MARGIN-LEFT: 17px
}
#sectionmenu LI
{
    PADDING-LEFT: 0px;
    MARGIN-LEFT: 0px
}
#sectionmenu LI.selecteditem
{
}
#sectionnav A:link
{
    COLOR: #0000cc;
    TEXT-DECORATION: none
}
#sectionmenu A:visited
{
    COLOR: #0000cc;
    TEXT-DECORATION: none
}
#sectionmenu A:hover
{
    COLOR: #0000ff;
    TEXT-DECORATION: underline
}
#sectionmenu A:active
{
    COLOR: #0000ff;
    TEXT-DECORATION: underline
}
#content
{
    PADDING-LEFT: 220px;
    MARGIN: 0px 20px 20px
}
.cols-1 #content
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px 15% 20px 120px;
    PADDING-TOP: 0px
}
#content H1
{
    MARGIN-TOP: 0px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 140%;
    COLOR: #452844
}
#content H2
{
    MARGIN-TOP: 0px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 140%;
    COLOR: #000000;
    BORDER-BOTTOM: #d4d4bf 1px dashed
}
#content H3
{
    FONT-SIZE: 130%;
    MARGIN-BOTTOM: 0.5em;
    COLOR: #333333
}
#content H4
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 120%;
    MARGIN-BOTTOM: 0.5em;
    COLOR: #333333
}
#content H5
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 100%;
    COLOR: #000000
}
#content H6
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 100%;
    COLOR: #000000
}
#content UL
{
    PADDING-RIGHT: 0px;
    MARGIN-TOP: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN-LEFT: 25px;
    WIDTH: 90%;
    PADDING-TOP: 0px
}
#content LI
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px
}
#content TABLE
{
    BORDER-COLLAPSE: collapse;
    border-width: 1px;
    empty-cells: show
}
FORM
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    OVERFLOW: visible;
    PADDING-TOP: 0px
}
FIELDSET
{
    BORDER-RIGHT: #b2c083 1px solid;
    PADDING-RIGHT: 20px;
    BORDER-TOP: #b2c083 1px solid;
    DISPLAY: block;
    PADDING-LEFT: 20px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 20px;
    MARGIN: 1em 0px;
    BORDER-LEFT: #b2c083 1px solid;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #b2c083 1px solid
}
LEGEND
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 140%;
    PADDING-BOTTOM: 10px;
    COLOR: #452844;
    PADDING-TOP: 10px
}
TD LABEL
{
    FONT-WEIGHT: normal;
    border-width: 1px;
    FLOAT: right;
    COLOR: #000000;
    WHITE-SPACE: nowrap
}
INPUT
{
    CURSOR: hand
}
#frmLogin
{
    WIDTH: 290px
}
#frmLogin #btnSubmit
{
    MARGIN-LEFT: 20px
}
#frmLogin TD
{
    PADDING-BOTTOM: 3px;
    WHITE-SPACE: nowrap
}
A:link
{
    COLOR: #0000cc;
    TEXT-DECORATION: none
}
A:visited
{
    COLOR: #0000cc;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: #0000ff;
    TEXT-DECORATION: underline
}
A:active
{
    COLOR: #0000ff;
    TEXT-DECORATION: underline
}
.warning
{
    FONT-WEIGHT: normal;
    COLOR: #cc0000
}
.error
{
    BORDER-RIGHT: #cc0000 1px solid;
    PADDING-RIGHT: 4px;
    BORDER-TOP: #cc0000 1px solid;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 4px;
    BORDER-LEFT: #cc0000 1px solid;
    COLOR: #cc0000;
    PADDING-TOP: 4px;
    BORDER-BOTTOM: #cc0000 1px solid
}
